name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-javascript:
    name: JavaScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Test Local Action (Casual)
        id: test-action-casual
        uses: ./
        with:
          name: 'GitHub Actions'
          greeting-type: 'casual'

      - name: Print Casual Greeting
        id: output-casual
        run: echo "${{ steps.test-action-casual.outputs.greeting-message }}"

      - name: Test Local Action (Formal)
        id: test-action-formal
        uses: ./
        with:
          name: 'GitHub'
          greeting-type: 'formal'

      - name: Print Formal Greeting
        id: output-formal
        run: echo "${{ steps.test-action-formal.outputs.greeting-message }}"
